<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Novo Agendamento</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>🕒 Criar Novo Agendamento</h1>

     <form action="/criar_agendamento" method="post">
        <input type="text" name="titulo" required>
        <input type="datetime-local" name="data_hora" required>
        <input type="hidden" name="usuario_id" value="1"> 
        <button type="submit">Agendar</button>
    </form>

        <a href="/">⬅️ Voltar ao menu</a>
    </div>
</body>
</html>