<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Usuários Cadastrados</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Usuários Cadastrados</h1>

        <ul>
            {% for usuario in usuarios %}
                <li class="card-usuario">
                    <strong>{{ usuario.nome }}</strong><br>
                    📅 Nascido em: {{ usuario.data_nasc }}
                </li>
            {% endfor %}
        </ul>

        <a href="/" class="btn">Voltar para o início</a>
    </div>
</body>
</html>